$backgroundColor: #BC865C;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: $backgroundColor;
    padding: 35px 45px;
    display: flex;
    width: 100%;
    height: 100%;
    .hamburger {
        background: #fff;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 6px;
            div {
                width: 35px;
                height: 5px;
                background: $backgroundColor;
            }
    }    
    .maincont{
        width: 100%;
        height: 100vh;
        border: 2px white solid;
        padding: 20px;
        display: flex;
        flex-direction: column;
        
        .left{
            background-color: lime;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .right{
            background-color: yellow;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }
}