$backgroundColor: #BC865C;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: $backgroundColor;
    padding: 30px;
    display: flex;
    .maincont{
        width: 100%;
        height: 100%;
        border: 2px white solid;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .left{
            background-color: lime;
            align-self: flex-start;
        }
        .right{
            background-color: yellow;
            align-self: flex-end;
        }
    }
}